.presentation {
  height: 50vh;
  background-image: url('/paintings/Noche-Estrellada.webp');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.work {
  background-image: url(/background.png);
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
  position: relative;
  height: 50vh;
}

.galleryButton {
  background-image: url('/gallery-m.webp');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

@media (min-width: 768px) {
  .galleryButton {
    background-image: url('/gallery.webp');
  }
}